*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  position: relative;
  color: #fff;
  font-family: sans-serif;

  min-height: 100vh;
  background-attachment: fixed;

  background-color: rgb(131, 58, 180);
  background: linear-gradient(90deg, #9337cf 0%, #3f7af9 50%, #7917d4 100%);
  background-size: 200%;
  animation: gradientAnim 3s infinite;
}

@keyframes gradientAnim {
  0% {
    background-position: 0% 150%;
  }
  50% {
    background-position: 50%, 50%;
  }
  100% {
    background-position: 0 0;
  }
}

.header {
  position: relative;
  z-index: 2;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}
h1 {
  text-align: center;
  margin: 15px;
}
.users {
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;

  @media (max-width: 600px) {
    &__count {
      grid-column: 1 / -1;
    }
  }

  &__name {
    font-size: 1.5em;
    font-weight: 700;
    @media (max-width: 600px) {
      grid-column: 1 / -1;
    }
  }
  &__fine {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1em;
    font-weight: 900;
  }
  &__item {
    position: relative;
    width: 100%;

    display: grid;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    // backdrop-filter: blur(10px);
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    padding: 20px;
    padding-top: 50px;

    @media (min-width: 900px) {
      grid-template-columns: 1.2fr 0.8fr;
    }

    &::before {
      content: "Останій раз чергував: " attr(data-date);
      color: rgb(250, 250, 250);
      font-weight: 900;
      position: absolute;
      top: 10px;
      left: 0px;
      padding-left: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      width: 100%;
    }

    @media (max-width: 400px) {
      &::before {
        content: "Чергував: " attr(data-date);
      }
    }
  }
}
select {
  display: block;
  width: 100%;
  height: 30px;
  border: 0;
}
.tab {
  margin-bottom: 20px;
  // .tab__btns
  &__btns {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(100px, 1fr));
    gap: 10px;

    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
    }
  }

  button {
    flex: 1 1 50%;
    border: 0;
    padding: 10px 0;
    outline: 0;
    transition: all 0.3s;
    @media (min-width: 768px) {
      &:hover {
        flex: 1 1 51%;
        background: rgb(6, 172, 184);
        color: #fff;
      }
    }
  }
}

.not-found {
  margin: 0 auto;
  font-size: 2em;

  grid-column: 1 / -1;
}

.section {
  padding: 20px 0px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

h2 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

hr {
  border: 0;
  width: 100%;
  display: block;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.admin-btn {
  width: 100%;
  margin-top: 10px;
  border: 0;
  height: 40px;
  border-radius: 5px;
  font-size: 1em;
  outline: 0;
}

select {
  margin-bottom: 10px;
}

.pop-up {
  border-radius: 5px;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;

  opacity: 0;
  transition: all 0.3s;
  animation: opacityAnim 0.3s forwards;
}

.success {
  background: rgba(60, 255, 0, 0.9);
}
.err {
  background: rgba(255, 0, 0, 0.9);
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  padding: 20px 5px;
  font-size: 1.3em;
  border-top: 1px solid #fff;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);

  &__bags {
    margin-bottom: 10px;
  }
  &__features {
  }

  a {
    color: rgb(1, 243, 74);
  }
}
#date {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.out-modal {
  position: fixed;
  top: 10px;
  right: 10px;

  width: 500px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @media (max-width: 600px) {
    width: 100%;
    top: 5px;
    right: 0;
  }
}

.btn {
  font-size: 1.2rem;
  &--active {
    background: rgb(11, 197, 52);
    color: #fff;
  }
}

.today--active {
  padding: 20px;
  grid-template-columns: 1fr;
}

.today--active::before {
  display: none;
}
